# Distribution / packaging
.Python
venv/
env/
.env
*.sqlite3
staticfiles
# local setup settings file
localsetup
mac/migrations
# Database
mac.sql
# Editor directories and files
.vscode
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
