asgiref
certifi
charset-normalizer
cryptography
defusedxml
dj-database-url
Django
django-allauth
gunicorn
idna
oauthlib
pycparser
PyJWT
pyngrok
python-decouple
python3-openid
PyYAML
requests
requests-oauthlib
sqlparse
urllib3
whitenoise
psycopg2-binary
django-environ
django_csv_exports
mysqlclient==1.4.6
django-cors-headers
Werkzeug