@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
    outline: none;
}

.container {
    width: 100%;
    max-width: 145rem;
    margin: 0 auto;
    outline: none;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
}

nav {
    height: 4.6rem;
    display: flex;
    align-items: center;
    transition: height .5s ease;
    outline: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    outline: none;
}

.logo {
    height: 4.6rem;
    align-items: center;
    transition: height .5s ease;
    font-size: 3.5rem;
    font-weight: bold;
    outline: none;
}

.nav-link {
    margin: 0 2rem;
    position: relative;
    outline: none;
}

.nav-link::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
}


/*Apply styles after scroll*/

.scrolling-active {
    background-color: #9966ff71;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.scrolling-active nav {
    height: 4.6rem;
}

.scrolling-active nav a {
    color: #313131;
}

.scrolling-active .nav-link::after {
    background-color: #313131;
}

img {
    border-radius: 50%;
}