.report-header {
    width: 100%;
    height: 1024px;
    background: rgba(5, 5, 5, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.report-bg {
    width: 93.5%;
    height: 846px;
    background: rgba(13, 15, 15, 1);
    opacity: 1;
    position: absolute;
    top: 8rem;
    left: 47px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.report-head {
    width: 669px;
    height: 380px;
    background: url("/static/images/report-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 183px;
    left: 114px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.report-title {
    width: 581px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 223px;
    left: 821px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: center;
}

.meet-data {
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 512px;
    left: 821px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.dash {
    border: 5px solid red;
    width: 220px;
    background: red;
    border-radius: 5rem;
}