{% extends "base_generic.html" %}{% load static %} {% load socialaccount %}{% block stylesheet %}

<link rel="stylesheet" href="{% static 'mac/css/index.css' %}"> {% endblock %} {% block content %}
<div style="background: #161819;width: 100%; padding: 8%; display: grid;gap: 30px;font-size:xx-large;" class="grid-div">
    <div class="image-box">
        <img style="border-radius: 1rem;" src="{% static 'mac/images/att_report.png' %}" width="100%" height="100%">
    </div>
    <div>
        <span class="intro-title">How to use trackit</span><br>
        <span class="intro-desc" style="color: #A39B8E;">1. Add Trackit extension to your favourite browser from Trackit website homepage. <br>2. Sign up on trackit website. <br>3. Enjoy your meet without taking tension of attendance.<br>4. As your meet ends we will show you the attendance report automatically.</span>
    </div>
</div>

<div style="background: #161819;width: 100%; padding: 8%; display: grid;gap: 30px;font-size:xx-large;" class="grid-div">
    <div>
        <span class="intro-title">How to fix errors</span><br>
        <span class="intro-desc" style="color: #A39B8E;">In this video I have discussed how the extension works and how to fix various errors which can occur.</span>
    </div>
    <div>
        <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.youtube.com/embed/nCtUS-FPOxA" title="Bug Squashing : Fixing Errors in Trackit" frameborder="0" webkitallowfullscreen mozallowfullscreen modestbranding allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
    </div>
</div>

{% endblock %}