{% extends "base_generic.html" %}{% load static %} {% load socialaccount %}{% block stylesheet %}

<link rel="stylesheet" href="{% static 'mac/css/index.css' %}"> {% endblock %} {% block content %}
<div style="display: flex;flex-direction: column;justify-content: center;margin-top: 12%;align-items: center;height: 60vh;margin-bottom: 5%;">

    <span class="intro-title">The Attendance Tracker tool you’ll enjoy using</span>
    <span class="intro-desc">Trackit is built to automate the task of taking attendance in online classes.</span>
    <a href="{% url 'account_signup' %}"><button class="signup" value="Sign up for free →">Sign up for free →</button></a>
</div>
<div style="background: #161819;width: 100%; padding: 8%; display: grid;grid-template-columns: repeat(3,1fr);gap: 30px;font-size:xx-large;">

    <div class="card" style="width: auto;background: #1E2022;border: 10px solid #1E2022;border-radius: 1rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;font-size: xx-large;">Card title</h5>
            <p class="card-text" style="color: #A39B8E;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: auto;background: #1E2022;border: 10px solid #1E2022;border-radius: 1rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;font-size: xx-large;">Card title</h5>
            <p class="card-text" style="color: #A39B8E;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: auto;background: #1E2022;border: 10px solid #1E2022;border-radius: 1rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;font-size: xx-large;">Card title</h5>
            <p class="card-text" style="color: #A39B8E;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: auto;background: #1E2022;border: 10px solid #1E2022;border-radius: 1rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;font-size: xx-large;">Card title</h5>
            <p class="card-text" style="color: #A39B8E;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: auto;background: #1E2022;border: 10px solid #1E2022;border-radius: 1rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;font-size: xx-large;">Card title</h5>
            <p class="card-text" style="color: #A39B8E;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: auto;background: #1E2022;border: 10px solid #1E2022;border-radius: 1rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;font-size: xx-large;">Card title</h5>
            <p class="card-text" style="color: #A39B8E;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

</div>
<div style="display: flex;flex-direction: column;justify-content: center;margin-top: 10%;align-items: center;height: 60vh;margin-bottom: 5%;">

    <span class="intro-title" style="font-size: 50px;">Get started with Trackit today.</span>
    <span class="intro-desc" style="font-size: 25px;">Trackit provides deep insights of the attendance of online classes with great analysis tools.</span>
    <a href="{% url 'account_signup' %}"><button class="signup" value="Sign up for free →">Sign up for free →</button></a>
</div>{% endblock %}