{% extends "base_generic.html" %} {% block title %}
<title>Meet Attendance Collector</title>{% endblock %} {% load static %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script defer src="{% static 'js/index.js' %}"></script>{% endblock %} {% block content %}
<section>
    <div class="content">
        <h2 id="name">Meet Attendance Collector</h2>
        <p id="desc">Easy, smart and automatic attendance collection in meet video calls.</p>
    </div>
</section>
<div class="sec">
    <div class="content">
        <button>Get Chrome Extension (1.0)</button>
        <button>Sign up it's free</button>
    </div>
</div>
{% endblock %}