{% extends "base_generic.html" %}{% load static %} {% load socialaccount %}{% block stylesheet %}

<link rel="stylesheet" href="{% static 'mac/css/index.css' %}"> {% endblock %} {% block content %}
<div style="display: flex;flex-direction: column;justify-content: center;margin-top: 12%;align-items: center;height: 60vh;margin-bottom: 5%;">

    <span class="intro-title">The Attendance Tracker tool you’ll enjoy using</span>
    <span class="intro-desc" style="color: #A39B8E;">Trackit is built to automate the task of taking attendance in online classes.</span>
    <a href="{% url 'account_signup' %}"><button class="signup" value="Sign up for free →">Sign up for free →</button></a>
</div>

<div style="background: #161819;width: 100%;padding: 8%; display: grid;grid-template-columns: repeat(3,1fr);gap: 30px;font-size:xx-large;">

    <div class="card" style="width: auto;background: #1E2022;border: 10px solid #1E2022;border-radius: 1rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;font-size: xx-large;">Fully Automatic</h5>
            <p class="card-text" style="color: #A39B8E;">Everything is done for you automatically. Just download trackit extension and relax.</p>
        </div>
    </div>
    <div class="card" style="width: auto;background: #1E2022;border: 10px solid #1E2022;border-radius: 1rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;font-size: xx-large;">Secure</h5>
            <p class="card-text" style="color: #A39B8E;">We are working very sincerely to secure your data.</p>
        </div>
    </div>
    <div class="card" style="width: auto;background: #1E2022;border: 10px solid #1E2022;border-radius: 1rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;font-size: xx-large;">Simple Interface</h5>
            <p class="card-text" style="color: #A39B8E;">Trackit is built to provide simplicity to users.</p>
        </div>
    </div>
    <div class="card" style="width: auto;background: #1E2022;border: 10px solid #1E2022;border-radius: 1rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;font-size: xx-large;">Detailed Report</h5>
            <p class="card-text" style="color: #A39B8E;">Get detailed report of attendance for every google meet videocall.</p>
        </div>
    </div>
    <div class="card" style="width: auto;background: #1E2022;border: 10px solid #1E2022;border-radius: 1rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;font-size: xx-large;">Attendance History</h5>
            <p class="card-text" style="color: #A39B8E;">All your attendance reports are securely stored in our database. You can access them anytime.</p>
        </div>
    </div>
    <div class="card" style="width: auto;background: #1E2022;border: 10px solid #1E2022;border-radius: 1rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;font-size: xx-large;">Full Control</h5>
            <p class="card-text" style="color: #A39B8E;">You have full access to your every data saved in our database.</p>
        </div>
    </div>

</div>
<div style="width: 100%; padding: 8%; display: grid;grid-template-columns: repeat(2,1fr);gap: 30px;font-size:xx-large;">
    <div>
        <span class="intro-title">Fully Automatic</span><br>
        <span class="intro-desc" style="color: #A39B8E;">Just download the extension and we will do the rest.</span>
    </div>
    <div class="image-box">
        <img style="border-radius: 1rem;" src="{% static 'mac/images/chrome_ext.png' %}" width="100%" height="100%">
    </div>
</div>
<div style="background: #161819;width: 100%; padding: 8%; display: grid;grid-template-columns: repeat(2,1fr);gap: 30px;font-size:xx-large;">
    <div class="image-box">
        <img style="border-radius: 1rem;" src="{% static 'mac/images/att_report.png' %}" width="100%" height="100%">
    </div>
    <div>
        <span class="intro-title">Detailed Attendance Report</span><br>
        <span class="intro-desc" style="color: #A39B8E;">Get details of every participants joining time, total duration they were present for and many more features are coming soon.</span>
    </div>
</div>
<div style="display: flex;flex-direction: column;justify-content: center;margin-top: 10%;align-items: center;height: 60vh;margin-bottom: 5%;">

    <span class="intro-title" style="font-size: 50px;">Get started with Trackit today.</span>
    <span class="intro-desc" style="font-size: 25px;">Trackit provides deep insights of the attendance of online classes with great analysis tools.</span>
    <a href="{% url 'account_signup' %}"><button class="signup" value="Sign up for free →">Sign up for free →</button></a>
</div>{% endblock %}