.signup {
    width: 257px;
    height: 73px;
    background: linear-gradient(to right, #364A90, #46409C);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    outline: none;
    border: none;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 24px;
}

.intro-title {
    width: 681px;
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-weight: Bold;
    font-size: 60px;
    opacity: 1;
    text-align: center;
}

.intro-desc {
    width: 668px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.image-box {
    border-radius: 1rem;
    background: linear-gradient(to top, #B65325, #9C2D36);
    padding: 2rem;
    border: none;
    outline: none;
}